@font-face {
  font-family: 'dunkelvolk';
  src: url('font/dunkelvolk.eot?40633298');
  src: url('font/dunkelvolk.eot?40633298#iefix') format('embedded-opentype'),
       url('font/dunkelvolk.woff2?40633298') format('woff2'),
       url('font/dunkelvolk.woff?40633298') format('woff'),
       url('font/dunkelvolk.ttf?40633298') format('truetype'),
       url('font/dunkelvolk.svg?40633298#dunkelvolk') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dunkelvolk';
    src: url('font/dunkelvolk.svg?40633298#dunkelvolk') format('svg');
  }
}
*/
 
 [class^="icon-"] a:before, [class*=" icon-"] a:before {
  font-family: "dunkelvolk";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-y a:before { content: '\21'; } /* '!' */
.icon-f a:before { content: '\27'; } /* ''' */
.icon-i a:before { content: '\e800'; } /* '' */